In [4]:
# 연산자
var01=3
var02=4
print('덧셈:',var01+var02)
print('제곱:',var01**2)

덧셈: 7
제곱: 9

In [9]:
# 파이썬 모듈을 이용한 수학계산
print('거듭제곱:',var01**2)
print('거듭제곱:',pow(var01,2))
# 수학 모듈 불러오기
import math
print(math.pow(var01,2))

거듭제곱: 9
거듭제곱: 9
9.0

In [10]:
# 제곱근
math.sqrt(var01)

1.7320508075688772

In [11]:
# sin 45도
math.sin(45)

0.8509035245341184

In [12]:
# sin(45)**2+cos(45)**2
math.pow(math.sin(45),2)+math.pow(math.cos(45),2)

1.0

In [13]:
math.sin(45)**2+math.cos(45)**2

1.0

---
# 난수 발생

In [19]:
import random # 난수 발생 모듈

In [23]:
# 1~100까지의 정수 중 난수 1개 발생
random.randint(1,100)

88

In [32]:
# 로또 645 번호 획득하기
lotto_list = range(1,46)
random.sample(lotto_list,6)

[20, 43, 8, 10, 39, 6]

In [25]:
i = 0
while i <=6:
    i = i + 1
    print(random.randint(1,45))

18
43
31
18
20
39
11

---
# 반올림

In [39]:
print(round(2.5))
print(round(3.5))
print(round(123.45,1))
print(round(123.456,2))

2
4
123.5
123.46

# 올림과 내림

In [43]:
# 올림 
print(math.ceil(1.1))
print(math.ceil(1.9))

2
2

In [44]:
# 내림
print(math.floor(1.1))
print(math.floor(1.9))

1
1

---
# 메모리에 있는 변수 보기

In [45]:
#메모리에 있는 변수 삭제하기
del var01
var01

NameError: name 'var01' is not defined

---
# 관계 연산자

In [46]:
num1 = 100
num2 = 20
print(num1==num2)
print(num1 !=num2)
print(num1> num2)
print(num1>=num2)
print(num1 < num2)
print(num1 <= num2)

False
True
True
True
False
False

# 논리 연산자

In [47]:
print((num1>=50)&(num2<=10))
print((num1>=50)|(num2<=10))

False
True

In [48]:
# 부정연산자
not(num1>=50)

False

---
# 문자열 자료형

In [49]:
var01 = 'Hello World!'
var01

'Hello World!'

In [51]:
# 여러줄의 문자열 출력
var01 = """
    Hello World!
    Good to meet you
"""
print(var01)

    Hello World!
    Good to meet you

In [54]:
# 쌍따움표와 홑따움표의 사용
var01 = "My father's wife id my mother"
var02 = 'He says "I love you"'
print(var01)
print(var02)

My father's wife id my mother
He says "I love you"

In [57]:
# 특수문자를 사용한 출력
var03 = 'aaa\nbbb'
var03
print(var03)
var04 = 'aaa\tbbb'
print(var04)

aaa
bbb
aaa	bbb

In [58]:
# 문자열 연산(덧셈)

var01 = 'Python'
var02 = 'is fun'

print(var01+var02)
print(var01,var02)

Pythonis fun
Python is fun

In [59]:
# 문자열 연산(곱셈)
print(var01*3)

PythonPythonPython

In [60]:
print("="*20)
print(var01)
print("="*20)

====================
Python
====================

---
# 문자열 indexing과 slicing

In [69]:
str01 = 'abcdefghijklmn'
print(str01[0])
print(str01[0:3]) #0에서 3번째 전꺼
print(str01[-1]) #맨뒤에거 
print(str01[5:]) #5부터 끝까지
print(str01[:5]) #첨부터 5전까지
print(str01[0]+str01[1]+str01[2])
print(str01[5:-2]) # 뒤에서 2번째꺼 전꺼

a
abc
n
fghijklmn
abcde
abc
fghijkl

In [70]:
str01 = "20201229snow"

In [76]:
print(str01[:4],str01[4:8],str01[8:])

2020 1229 snow

In [77]:
str01

'20201229snow'

In [78]:
str01[3]='1'
print(str01)

TypeError: 'str' object does not support item assignment

In [85]:
#str01 = 2021 1229 snow 로 변경하기
print(str01[:3]+'1',str01[4:8],str01[8:])

2021 1229 snow

---
# 문자열 formatting

In [86]:
# %d : 정수형 formatting
print("I have %d apples"%2)

I have 2 apples

In [88]:
# %s : 문자열 formatting
print("I have %s apples"%"two")

I have two apples

In [89]:
number = 2
print("I have %d apples"%number)

I have 2 apples

In [90]:
# 혼합형 formatting
number =2
fruit = 'apples'
print("I have %d %s."%(number,fruit))

I have 2 apples.

In [92]:
# 문자열 정렬 
print('I have 2 %10s.'%"apples")
print('I have 2 %-10s.'%"apples")

I have 2     apples.
I have 2 apples    .

In [97]:
# %f : 실수형 formatting
print("----+----+")
print("%0.4f"%3.14159)
print("%10.4f"%3.14159)

----+----+
3.1416
    3.1416

---
# 문자열 관련 함수

In [100]:
# 문자 count
str01 = "I have a dream"
print(str01.count('a')) # a란 글자 갯수
print(len(str01)) #a의 전체 글자수

3
14

In [104]:
# 문자 위치 알려주기 -1
print(str01.find('e')) 
print(str01.find('x')) #해당 글자 없음 (-가나옴)
print(str01[:str01.find('e')])

5
-1
I hav

In [107]:
# 문자 위치 알려주기 -2
print(str01.index('e'))
# print(str01.index('x'))

5

In [108]:
# 문자열 삽입 (join)
str01 = ","
str01.join('abcdef')

'a,b,c,d,e,f'

In [109]:
# 소문자를 대문자로 변환 (upper)
str01='hi'
str01.upper()

'HI'

In [110]:
# 대문자를 소문자로 변환 (lower)
str01 = "HI"
str01.lower()

'hi'

In [111]:
# 공백 지우기
str01 ='   hi    '
print(str01.lstrip())#왼쪽공백지우기
print(str01.rstrip())#오른쪽 공백 지우기 
print(str01.strip())# 양쪽 공백 지우기

hi
   hi
hi

In [112]:
# 문자열 바꾸기 (replace)
str01 = 'Life is too short to be happy'
str01.replace('happy','unhappy')

'Life is too short to be unhappy'

In [117]:
# 문자열 나누기 (split)
list01 = str01.split() # 공백 기준으로 문자열 나누기
type(list01)
print(list01)
print(list01[0])

['Life', 'is', 'too', 'short', 'to', 'be', 'happy']
Life

In [118]:
str02 = "a:b:c:d"
str02.split(":")

['a', 'b', 'c', 'd']

---
# 날짜형 변환

In [121]:
from datetime import datetime, timedelta # 날짜형 모듈 불러오기

In [122]:
time1 = datetime(2020,12,25,21,0,0,0)
print(time1)

2020-12-25 21:00:00

In [126]:
# 날짜 계산
time2 = datetime.now() #현재 일 시간
print(time2)
print(time2-time1)

2021-01-27 14:07:29.192877
32 days, 17:07:29.192877

In [127]:
# 좀 더 편리하게 출력
print("두 날짜의 차이는", (time2-time1).days,"일",(time1-time2).seconds,"초")

두 날짜의 차이는 32 일 24750 초

In [130]:
# 특정 날짜로부터 시간 계산
print(time2+ timedelta(days=5)) # 5일 뒤
print(time2+timedelta(days=-3)) # 3일 전

#현재 시간 부터 1일뒤의 2시간 전 
print(time2+timedelta(days=1,hours=-2))

2021-02-01 14:07:29.192877
2021-01-24 14:07:29.192877
2021-01-28 12:07:29.192877